
<div class="flex items-center justify-center w-full pt-2">
    <h1 class="text-center font-infoheader uppercase text-2xl">Space Tavern</h1>
    </div>
    <div class="h-full bg-cover bg-center bg-stbg my-4 mx-8 p-8 border-green-500 border-2 rounded-lg">
<%= render 'games/header' %>
<div class="container flex flex-row m-3 p-3 h-full">
    <div class="flex-auto basis-1/4">
        <turbo-frame id="tavern_info">
        <%= render 'games/tavern_info' %>
        </turbo-frame>
    </div>
    <div class="flex-auto basis-1/2 h-5/6">
        <turbo-frame id="messages">
        <%= render 'games/messages' %>
        </turbo-frame>
    </div>
    <div class="flex-auto basis-1/4">
        <turbo-frame id="patrons_info">
        <%= render 'games/patrons_info' %>
        </turbo-frame>
    </div>
</div>
</div>

